body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Carbon;
    src: url(../fonts/carbon-bl.otf);
}

#hero section {
    color: white;
}

h2 {
    font-family: 'Carbon', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.overlap {
    grid-row: 1/-1;
}

#hero-image {
    z-index: -1;
}

#logo-con {
    order: -1;
}