body {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

@font-face {
    font-family: Carbon;
    src: url(../fonts/carbon-bl.otf);
}

.overlap {
    grid-row: 1/-1;
}

#hero {
    aspect-ratio: 206/357;
}

#hero-con {
    align-content: space-around;
    color: white;
    background-color: rgba(193, 151, 255, 0.75);
    padding-top: 10%;
    padding-bottom: 20%;
    height: 57%;
}

#hero-text {
    display: grid;
    grid-template-columns: subgrid;
    background-color: rgb(151, 194, 255);
    border: 1px solid black;
}

#hero h2 {
    font-family: 'Carbon', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 11vw;
    margin-bottom: 10%;
}

#hero p {
    font-size: max(12px, 3vw);
}

#hero-image {
    z-index: -1;
    height: 100%;
}

#logo-con {
    display: flex;
    justify-content: space-between;
    order: -1;
    background-color: blanchedalmond;
    margin-bottom: 11%;
}

#logo-con img {
    flex: 1 0 0px;
    max-width: 28%;
    max-height: 65px;
    background-color: red;
    object-fit: contain;
}

#logo-con img:last-child {
    display: none;
}

@media screen and (max-width: 300px) {
    #hero p {
        height: 0;
        opacity: 0;
    }
}

@media screen and (min-width: 768px) {
    #hero {
        aspect-ratio: 768/403;
    }
}